@charset "utf-8";
#main{
    min-height:calc(100vh - 277px);
}
.main_img_box{
    position:relative;
    > img{
        min-width:1920px;
        width:100%;
        height:401px;
    }
    .main_img_inner{
        width:1056px;
        position:absolute;
        margin:0 auto;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    .benner_text{
        position:absolute;
        top:54px;
        left:0;
        font-weight:500;
        color:#fff;
        .txt01{
            font-size:24px;
        }
        .txt02{
            margin:18px 0 66px;
            font-size:47px;
        }
        .txt03{
            font-size:21px;
        }
    }
    
}

.inner{
    position:relative;
    width:1056px;
    margin:0 auto;
}

.sec01{
    margin-top:20px;
    @at-root .main_list{
        width:450px;
        > li{
            position:relative;
            padding-left:22px;
            &:before{
                content:'';
                display:block;
                position:absolute;
                width:2px;
                height:2px;
                background:#000;
                left:0;
                top:50%;
            }
            .date{
                display:block;
                float:left;
                margin-right:17px;
                font-size:13px;
                color:#666;

            }
            .cont{
                overflow:hidden;
                > a{
                    color:#000;
                    font-size:13px;
                    font-weight:400;
                }
            }
            &:not(:last-child){
                margin-bottom:16px;
            }
        }
    }        
}

.quick_menu_wrap{
    position:absolute;
    right:0;
    top:-330px;
    .quick_menu_box{
        padding:30px 30px 8px 30px;
        width:380px;
        border-top-left-radius:18px;
        border-top-right-radius:18px;
        background:#fff;
        .title{
            position:relative;
            display:inline-block;
            margin-left:20px;
            font-size:15px;
            font-weight:400;
            color:#0076c0;
            &:after{
                content:'';
                display:block;
                position:absolute;
                bottom:-8px;
                left:0;
                width:100%;
                height:2px;
                background:#0076c0;
            }
        }
        .quick_list{
            margin-top:42px;
            font-size:0;
            > li{
                display:inline-block;
                width:50%;
                > a{
                    display:table-cell;
                    width:100vw;
                    height:105px;
                    font-size:15px;
                    font-weight:400;
                    color:#6b6b6b;
                    vertical-align:middle;
                    padding:0 20px;
                }
                &:nth-child(1){
                    border-bottom:solid 1px #e8e8e8;
                    background:url('../images/main/ico_main_quick01.jpg') no-repeat right 5px center;
                }
                &:nth-child(2){
                    border-bottom:solid 1px #e8e8e8;
                    background:url('../images/main/ico_main_quick02.jpg') no-repeat right 14px center;
                    > a{
                        padding:0 63px 0 20px;
                    }
                }
                &:nth-child(3){
                    background:url('../images/main/ico_main_quick03.jpg') no-repeat right 5px center;
                    > a{
                        padding:0 63px 0 20px;
                    }
                }
                &:nth-child(4){
                    
                    background:url('../images/main/ico_main_quick04.jpg') no-repeat right 14px center;
                }
            }
        }
    }
    .apply{
        display:block;
        background:#174355;
        padding:27px 30px 38px 30px;
        border-bottom-left-radius:18px;
        border-bottom-right-radius:18px;
        color:#fff;
        font-size:19px;
        font-weight:500;
        text-align:center;
        > span{
            display:block;
            margin-top:8px;
            color:#9ccde2;
            font-size:14px;
            font-weight:500;
        }
    }
}


